template(name="termos")
    +ionView
      +ionContent
        .card
          .item.item-text-wrap
            | Termos de Uso
        +btnVoltar 


template(name="btnVoltar")
  button.button.button-block.button-light.voltar Voltar 
